body.website-feedback-screenshot-requested {
  overflow: hidden;
}

.upload-button.hidden {
  display: none;
}

.button.button_screenshot-control {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.button.button_screenshot-control:first-child {
  margin-left: 0;
  margin-right: 0.5em;
}
.button.button_screenshot-control:last-child {
  margin-left: 0.5em;
  margin-right: 0;
}

.website-feedback-controls {
  z-index: 9999999;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.4);
  position: fixed;
  bottom: -1px;
  right: 10px;
  border: 1px solid #fff;
  border-radius: 7px 7px 0 0;
  background-color: #e8e8e8;
  padding: 10px;
}

.website-feedback-controls__drawer {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 1px 0 0 #fff;
}

.website-feedback-controls .button.button_highlight {
  color: #333;
  background-color: #f2f1eb;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
}
.website-feedback-controls .button.button_blackout {
  background-color: #000;
  color: #eee;
  background-image: -webkit-linear-gradient(to bottom, #505050, #000000);
  background-image: linear-gradient(to bottom, #505050, #000000);
  text-shadow: none;
}
.website-feedback-controls .button.button_blackout:hover,
.website-feedback-controls .button.button_blackout:focus {
  color: #fff;
  background-color: #080808;
  background-image: -webkit-linear-gradient(to bottom, #000000, #505050);
  background-image: linear-gradient(to bottom, #000000, #505050);
}
.website-feedback-controls .button_highlight.active,
.website-feedback-controls .button_blackout.active,
.website-feedback-controls .button_add-note.active,
.website-feedback-controls .button_highlight.active:hover,
.website-feedback-controls .button_blackout.active:hover,
.website-feedback-controls .button_add-note.active:hover {
  box-shadow: 0 0 0 1px #fff, 0 0px 1px 3px #03e2ea;
}

.website-feedback-canvas {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  border: 0 solid black;
  cursor: crosshair;
}
.website-feedback-canvas[data-screenshot-tool='note'] {
  cursor: pointer;
}

/* Regions */
.website-feedback-region {
  position: fixed;
  cursor: crosshair;
}
.website-feedback-region_blackout {
  background-color: #000;
  z-index: 100000000;
}
.website-feedback-region_highlight {
  z-index: 1000000;
}
.website-feedback-region.visible {
  z-index: 10000000;
  background-color: transparent;
}
.website-feedback-region_blackout.visible {
  background-color: #000;
  z-index: 1000000000;
}
.website-feedback-region.visible:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.website-feedback-region_highlight.visible:after {
  background-color: #003878;
  opacity: 0.3;
}
.website-feedback-region_blackout.visible:after {
  background-color: #000;
  opacity: 0.5;
  border: 1px solid #fff;
}

.website-feedback-region-close {
  position: absolute;
  background-image: url(../images/cross.png);
  background-repeat: no-repeat;
  display: none;
  width: 30px;
  height: 30px;
  z-index: 100000000004;
  cursor: pointer;
  top: -10px;
  right: -10px;
}
.website-feedback-region-close.visible {
  display: block;
}

/* note */
.website-feedback-region_note,
.website-feedback-region_note.visible {
  z-index: 1000000000;
  cursor: text;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  background: rgb(241,220,135);
  background: linear-gradient(0deg, rgba(241,220,135,1) 0%, rgba(255,253,205,1) 100%);
}
.website-feedback-region_note.visible {
  z-index: 1000000005;
}
.website-feedback-note-textarea {
  cursor: text;
  height: 98px;
  width: 150px;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  font-size: 13px;
  padding: 5px;
  position: relative;
  z-index: 10;
}
.website-feedback-dialog .form-control.hidden {
  display: none;
}
.website-feedback-dialog .website-feedback-form fieldset label {
  display: block;
}
.website-feedback-dialog .image-widget-data {
  float: none;
}
